/* BannerWithText.css */

.banner-with-text {
  position: relative;
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px 0;
  width: 100vw;
  overflow: hidden;
}

.logo-image2 {
  width: 100%;
  height: 1000px;

}

.text-block {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
height: 120px;
width: 500px;
}
.textcolor {
  color: black;
}